@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 a{
  text-decoration: none !important;
  background-color: transparent;
  color: #fff !important;
}

a:hover{
  color: #fff;
}

body{
    min-height: 100vh;
}

.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image:
    /* :linear-gradient(rgba(20, 19, 19, 0.521), rgba(17, 16, 16, 0.548)) */
    url('../images/dark.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    opacity: 1;
}
.main h1{
    color:rgba(235, 235, 16, 0.288);
     font-size: 60px;
     font-weight: 800;
     text-transform: uppercase;
     letter-spacing: 2px;
     line-height: 80px;
}

header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    /* transition:.6s; */

}

header.sticky{
    background: rgba(129, 129, 17, 0.973);
    padding: 10px 100px;
    transition: .6s;

}

header .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 2px;
    opacity: .3;

}

header .menu{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    

}

header .menu a{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    margin: 0 30px;
    padding:0px 10px;
    border-radius: 29%;
    transition: 0.3s;
    transition-property: color , background;
    opacity: .6;
}

header .menu a:hover{
    color: #000;
    /* background: #fff; */
    background:rgba(235, 235, 16, 0.466);
    box-shadow:2px 2px 4px rgb(245, 245, 245);
    transition: .6s ease;


}

header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;

}

.text{
    box-shadow: 2px 2px 4px grey;
    min-height: 50vh;
    background:rgba(20, 20, 20, 0.267);
    color: grey;
    padding: 20px 100px;
    margin-top: 5rem;
    border-radius: 29%;

}

.text h1{
    color:rgba(235, 235, 16, 0.466);
    font-size: 30px;
    margin: 2rem 0;

    
}

.text p{
    
    font-size: 15px;
    margin: 1rem 0;
    
}

.text2{
    min-height: 50vh;
    background:rgba(0, 0, 0, 0.918);
    color: grey;
    padding: 20px 100px;
}

.text2 h1{
   
    color:rgba(235, 235, 16, 0.466);
    font-size: 30px;
    margin: 1rem 0;   
}

.text2 p{
    font-size: 15px;
    margin: 1rem 0;
    
    
}

.active {
    color: #000;
    background:rgba(235, 235, 16, 0.466);
    box-shadow:2px 2px 4px rgb(245, 245, 245);
    transition: .6s ease;
  }

  /* footer */
  footer {
    width: 100%;
    display: inline-block;
    /* margin: 2em 0; */
    height: 70px;
    background-color: #999;
  }
  footer .copyright {
    width: 50%;
    float: left;
  }
  @media (max-width: 600px) {
    footer .copyright {
      width: 100%;
    }
  }
  footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  @media (max-width: 600px) {
    footer .copyright p {
      text-align: center;
      padding: 0;
    }
  }
  footer .social {
    width: 50%;
    float: right;
  }
  @media (max-width: 600px) {
    footer .social {
      width: 100%;
    }
  }
  footer .social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  footer .social a:hover {
    background-color: #222;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .linked {
    background-color: #1e83ae;
    font-size: 1.2em;
    width: 20%;
  }
  
  .face {
    background-color: #3d5b94;
    font-size: 1.2em;
    width: 20%;
  }
  
  .tweet {
    background-color: #3dacdd;
    font-size: 1.2em;
    width: 20%;
  }
  
  .support {
    background:rgba(223, 223, 10, 0.705);
    font-size: 0.8em;
    width: 60%;
    color: #000 !important;
  }

  .support:hover{
    color: #fff !important;
  }

  .subtitle{
    font-size: 1.7rem;
    text-align: center;
    color: rgba(235, 235, 16, 0.288);
  }

@media (max-width:1060px){
    header .btn{
        display: block;
        

    }

    header .menu{
        position: fixed;
        /* background:rgb(134, 134, 5); */
        background: rgb(22, 20, 20);
        
        flex-direction: column;
        max-width: 300px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 80px 50px;
        transition: .5s;
        transition-property: right;
    }

    header .menu.active{
        right: 0;

    }

    header .menu .close-btn{
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}

@media (max-width:630px) {

    .main{
        padding: 0;
    }

    header{
        padding: 20px 20px;
    }

    header.sticky{
        padding: 20px 20px;
    }
    .main h1{
        font-size: 50px;
        line-height: 60px;

    }

    .text{
        padding: 10px 20px;
    }
}

@media (max-width:1060px) {
    .text h1{
        font-size: 20px;
    }
    .text p{
        font-size: 11px;
    }


    .text2 h1{
        font-size: 20px;
    }
    .text2 p{
        font-size: 11px;
    }
}

/* select */
select:focus{
  border: none;
  outline: none;
}

.dropdown select{
  background:transparent;
   width: 297px;
   padding: 2px;
   font-family:Arial, Helvetica, sans-serif;
   font-size:1.2em;
   font-weight:600;
   color:#fff;
   line-height: 1;
   border: 0;
   border-radius: 0;
   /*Hides the default arrows for Selects*/
  -webkit-appearance: none;
  -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
     position: relative;
  }


.dropdown{
	width: 297px;
	overflow: hidden;
	background: no-repeat right #363636;
	border-top:#575757 1px solid;
	-webkit-border-radius: 4px 4px 4px 4px;
	 -moz-border-radius: 4px 4px 4px 4px;
		  border-radius: 4px 4px 4px 4px;
	-webkit-box-shadow: inset 0 2px 4px rgba(107, 105, 105, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	 -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
		  -moz-box-shadow:    0px 8px 3px -9px #000000;
		  -webkit-box-shadow: 0px 8px 3px -9px #000000;
		  box-shadow:         0px 8px 3px -9px #000000;  

}

.dropdown {
    position: relative;
}

.dropdown:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 8px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 3px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
}

select > option {
  background: #D3D3D3;
  color: black;
}

/* vision */
.wrapper2{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  }
  
  .cols2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
 
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  }
  
  .col2{
  width: calc(35% - 2rem);
  margin: 7rem;
  cursor: pointer;
  }
  
  .container2{
  -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    -webkit-perspective: 1000px;
        perspective: 1000px;
  }

  .front2{
    width: 350px;
  }
  
  .front2,
  .back2{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .back2{
  background: #3E60AC;
  background: -webkit-linear-gradient(45deg,  #3E60AC 0%,#E45937 100%);
  background: -o-linear-gradient(45deg,  #3E60AC 0%,#E45937 100%);
  background: linear-gradient(45deg,  #3E60AC 0%,#E45937 100%);
  font-size: 20px;
  }
  
  .front2:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    border-radius: 10px;
  }
  .container2:hover .front2,
  .container2:hover .back2{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back2{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
  }
  
  .inner2{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
      perspective: inherit;
    z-index: 2;
  }
  
  .container2 .back2{
  
    -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
  
  .container2 .front2{
    -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
  }
  
  .container2:hover .back2{
  -webkit-transform: rotateY(0deg);
      transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
  
  .container2:hover .front2{
  -webkit-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
  }
  
  .front2 .inner2 p{
  font-size: 2rem;
  /* margin-bottom: 2rem; */
  position: relative;
  }
  
  .front2 .inner2 p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #E45937;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
  
  }
  

  @media screen and (max-width: 64rem){
  .col2{
    width: calc(33.333333% - 2rem);
  }
  }
  
  @media screen and (max-width: 48rem){
  .col2{
    width: calc(50% - 2rem);
  }
  }
  
  @media screen and (max-width: 32rem){
  .col2{
    width: 100%;
    margin: 20px;
  }
  .back2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

  }

  .cols2{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  }
